body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	background: white;
}

a {
	text-decoration: none;
	color:  #4a4a4a;
}

a:hover {
	text-decoration: underline;
}

li {
	display: inline;
	padding: 6px;
}

button {
	border-radius: 2px;
	border: 1px solid;
	padding-right: 8px;
	padding-left: 8px;
}

header {
	position: relative;
	right: 15px;
	top: 15px;
	float: right;
}

header img {
	position: relative;
	top: 7px;
	height: 25px;
}

#mainContainer  div {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 630px;
}	
#content{
	padding:120px;
}
#content img {
	display: block;
	position: relative;
	padding: 15px;
	top: 0px;
	margin: 0, auto;
}

input {
	display: block;
	border: 1px solid #C8C8C8;
	position: relative;
	margin: 0, auto;
	min-width: 590px;
	font-size: 13px;
}

form button {
	display: inline-block;
	height: 29px;
	background-color: #F5F5F5;
	color: #4a4a4a;
	border-color: #D9D9D9;
	font-size: 11px;

}
#search{
	margin-left:200px;
	}

footer{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-top: 1px solid #E4E4E4 ;
	background: #F2F2F2;
	height: 41px;
	min-width: 960px;
	}

#left{
	float:left;
	}
#right{
	float:right;
	}
#new{
	color: red;
}